.grid {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.scroll-controls-wrapper {
  background-color: #ffffff;
}

.no-border {
  border: none !important;
}

.scroll-control:hover {
  background-color: hsl(48, 29%, 97%) !important;
}
.scroll-control {
  border: none !important;
}
.scroll-control * {
  pointer-events: none;
}
